<a ui-sref="list">< Back</a>

<div>

	<div class="idea-list-item list-group-item" style="display: flex;">
		<div class="left rating" style="display: flex;flex-direction: column; margin-right: 10px; font-size: 2rem; line-height: 3rem">
			<button style="font-size: 2rem;" ng-click="detailsVm.voteUp()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
			<span style="align-self: center;">{{detailsVm.idea.votesUp - detailsVm.idea.votesDown}}</span>
			<button style="font-size: 2rem;" ng-click="detailsVm.voteDown()"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>				
		</div>
		<div class="main" style="display:flex; flex-direction: column; align-content: space-between">
			<h2 class="title" ng-bind="detailsVm.idea.shortText" style="flex: 1 0 auto"></h2>
			<p ng-bind="detailsVm.idea.description" style="flex: 1 0 auto"></p>			
			<div class="stats" style="flex: 1 0 auto">
				<span ng-bind="detailsVm.idea.publishDate"></span>
				<span ng-bind="detailsVm.idea.status"></span>
				<span ng-bind="detailsVm.idea.comments.length"></span>
				<span ng-bind="detailsVm.idea.user"></span>
			</div>
		</div>
	</div>

	<div class="list-group" ng-if="detailsVm.idea.comments.length>0" style="margin-top:20px">
		<div ng-repeat="comment in detailsVm.idea.comments" class="list-group">
			<div class="list-group-item" style="display:flex; flex-direction:column">
				<span ng-bind="comment.text"></span>
				<div>
					<span ng-bind="comment.user"></span>
					<span ng-bind="comment.publishDate"></span>
				</div>
			<div>
		</div>
		<br>
		<div style="display:flex; flex-direction:column">
			<span>leave a comment</span>
			<textarea> </textarea>
			<button ng-click="detailsVm.newComment()">Submit</button>		
		</div>
	</div>
	
</div>
